<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a id="sala" class="navbar-brand" href="#">Bienvenido</a>

  <img src='../../assets/img.png' class='imgRedonda'  (click)="alertPersona()"/>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="col-12">
    <select class="form-control">
      <option *ngFor="let sala of salas" value="sala.Carrera">{{sala.Asignatura}}</option>
    </select>
  </div>
<app-combos></app-combos>

    </div>

</nav>
