<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<footer class="pie">
      <div class="contenedorPie">

        <div class="row">
            
                <div class="elemento col-xs-8"><input class="ingreso" placeholder="mensaje"></div>
                <div class="elemento col-xs-2"><button class="fa fa-envelope-o"></button></div>
                <div class="elemento col-xs-2"><button class="glyphicon glyphicon-paperclip"></button></div>
               
                
        </div>
      </div>
       
</footer>